@import "../../../styles/settings.scss";

@import "../../../styles/settings.scss";

.root {
  .productGrid {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5vh;
    justify-content: center;
    width: 100%;
  }
}
