@import "../../../styles/settings.scss";

@import "../../../styles/settings.scss";

.root {
  .productGrid {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
