@import "../../../styles/settings.scss";

.root {
  align-items: center;
  background-color: $navbar-bg;
  display: flex;
  height: 10vh;
  justify-content: center;
  max-width: 100vw;
  padding: 2.5vh 0 2.5vh 0;
  width: 100%;
  .mainMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      outline: none;
    }
  }
  .changeLanguage {
    position: relative;
    button {
      outline: none;
    }
    :hover {
      color: $navbar-changeLanguage-button-active;
    }
    button {
      background: none;
      border: none;
    }
  }
  h3 {
    cursor: pointer;
    font-size: $base-size * 1.5;
  }
  .languagesBox {
    align-items: center;
    background-color: $navbar-languagesBox-bg;
    border-radius: 10px;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-left: -40%;
    opacity: 0;
    padding: 4vh;
    position: absolute;
    top: 200%;
    transform: translateY(-10%);
    transition-timing-function: ease-in;
    transition: $transition;
    visibility: hidden;
    z-index: 150;
    .languageBox {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 20vh;
      justify-content: space-around;
      margin: 2vh;
      width: 20vh;
      a {
        outline: none;
      }
      &:hover,
      :active a {
        color: $navbar-languageBox-link-color-active;
      }
      img {
        height: 100%;
        object-fit: contain;
        width: 100%;
      }
    }
  }
  .languagesBox__active {
    @extend .languagesBox;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    z-index: 50;
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) {
  .root {
    .mainMenu,
    .mainMenu__active {
      a {
        color: $navbar-link;
        font-family: $font-title;
        font-size: $base-size * 1.5;
        text-decoration: none;
        &:hover,
        &:global(.active) {
          color: $navbar-link-active;
        }
      }
    }
    .languagesBox {
      .languageBox {
        a {
          &:hover {
            color: $navbar-languageBox-link-color-active;
          }
        }
      }
    }
    .burgerButton {
      display: none;
    }
  }
}

/* Large Devices, Laptops, Large Tablets iPad Pro */

@media only screen and (max-width: 1200px) {
  .root {
    height: 5vh;
    .mainMenu {
      align-items: center;
      background-color: $navbar-mainMenu-bg;
      border-top: $navbar-mainMenu-border;
      border: none;
      bottom: -200vh;
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: space-around;
      padding: 5vh 0 5vh 0;
      position: fixed;
      transition: $transition-long;
      width: 100vw;
      z-index: 20;
      &__active {
        align-items: center;
        background-color: $navbar-mainMenu-bg;
        border-top: $navbar-mainMenu-border;
        border: none;
        bottom: 0;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        padding: 5vh 0 5vh 0;
        position: fixed;
        transition: $transition;
        width: 100vw;
        z-index: 20;
      }
    }
    .mainMenu,
    .mainMenu__active {
      a {
        color: $navbar-link;
        text-decoration: none;
        font-family: $font-title;
        font-size: $base-size * 1.5;
        &:hover,
        &:global(.active) {
          color: $navbar-link-active-alt;
        }
      }
    }
    .changeLanguage :hover {
      color: $navbar-link-active-alt;
    }
    .burgerButton {
      background-color: $navbar-burgerButton-bg !important;
      border-radius: 10%;
      bottom: 1vh;
      box-shadow: $box-shadow;
      color: $navbar-burgerButton-color !important;
      display: flex;
      outline: none;
      position: fixed;
      right: 1vh;
      transition: $transition;
      z-index: 100;
      span,
      span:before,
      span:after {
        background-color: $navbar-burgerButton-color !important;
      }
    }
    .cartMenu {
      visibility: visible;
    }
    .languagesBox {
      transform: translate(-50%, -60%);
    }
    .languagesBox__active {
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .root {
    .languagesBox {
      left: 90%;
      top: -500%;
    }
  }
}

@media only screen and (orientation: landscape) and (min-width: 1024px) and (max-width: 1199px) {
  .root {
    .languagesBox {
      left: 90%;
      top: -300%;
    }
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .languagesBox {
      left: 90%;
      top: -400%;
    }
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
    .languagesBox {
      left: 90%;
      top: -250%;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    .languagesBox {
      left: 90%;
      top: -300%;
    }
  }
}
