@import "../../../styles/settings.scss";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logoImg {
    background-size: cover;
    display: inline-block;
    transition: $transition;
  }
  .pageTitle {
    font-family: $font-subtitle;
    // margin: 5vh 0 5vh 0;
    // left: 50%;
    // position: absolute;
    // transform: translate(-50%, -50%);
    // width: 100%;
  }
}

@media (min-width: 1025px) {
  .root {
    .logoImg {
      height: 12.5vh;
      margin: 10vh 0 0 0;
    }
    .pageTitle {
      margin: 5vh 0 5vh 0;
      font-size: $base-size * 2.5;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
    .logoImg {
      height: 7.5vh;
      margin: 10vh 0 0 0;
    }
    .pageTitle {
      margin: 5vh 0 5vh 0;
      font-size: $base-size * 3;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .logoImg {
      height: 5vh;
      margin: 5vh 0 0 0;
    }
    .pageTitle {
      margin: 2.5vh 0 2.5vh 0;
      font-size: $base-size * 2;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
    .logoImg {
      height: 5vh;
      margin: 10vh 0 0 0;
    }
    .pageTitle {
      margin: 2.5vh 0 2.5vh 0;
      font-size: $base-size * 1.5;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    .logoImg {
      height: 5vh;
      margin: 5vh 0 0 0;
    }
    .pageTitle {
      margin: 2.5vh 0 2.5vh 0;
      font-size: $base-size * 1.5;
    }
  }
}
