@import "../../../styles/settings.scss";

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .logoImg {
    background-size: cover;
    display: inline-block;
    transition: $transition;
  }
  .pageTitle {
    font-family: $font-subtitle;
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
    .logoImg {
      height: 10vh;
      margin: 10vh 0 0 0;
    }
    .pageTitle {
      font-size: $base-size * 2.5;
      margin: 5vh 0 5vh 0;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
    .logoImg {
      height: 10vh;
      margin: 10vh 0 0 0;
    }
    .pageTitle {
      font-size: $base-size * 5;
      margin: 5vh 0 5vh 0;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .root {
    .logoImg {
      height: 5vh;
      margin: 5vh 0 0 0;
    }
    .pageTitle {
      font-size: $base-size * 3;
      margin: 2.5vh 0 2.5vh 0;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .logoImg {
      height: 5vh;
      margin: 5vh 0 0 0;
    }
    .pageTitle {
      font-size: $base-size * 2;
      margin: 2.5vh 0 2.5vh 0;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
    .logoImg {
      height: 5vh;
      margin: 10vh 0 0 0;
    }
    .pageTitle {
      font-size: $base-size * 1.5;
      margin: 2.5vh 0 2.5vh 0;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    .logoImg {
      height: 5vh;
      margin: 5vh 0 0 0;
    }
    .pageTitle {
      font-size: $base-size * 1.5;
      margin: 2.5vh 0 2.5vh 0;
    }
  }
}

/* Extra Small Devices, Small Phones Landscape*/
@media only screen and (max-height: 499px) {
  .root {
    .logoImg {
      height: 10vh;
      margin: 10vh 0 0 0;
    }
  }
}
