@import "../../../styles/settings.scss";

.root {
  position: relative;
  box-shadow: $box-shadow;
  border-radius: 20px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5vh 0 5vh 0;
    .productTitle {
      position: absolute;
      font-size: 1.3em;
      top: 5%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
    }
    .productPrice {
      position: absolute;
      bottom: 30%;
      z-index: 10;
      font-size: 0.75em;
      z-index: -1;
    }
    .qtyBox {
      position: absolute;
      bottom: 15%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      &__hidden {
        opacity: 0;
      }
      p {
        margin-bottom: 0.2em;
      }
    }
    .productBox {
      background-color: transparent;
      height: 100%;
      width: 100%;
      perspective: 1000px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
    }

    .productBoxInner {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .productBoxInner__rotate {
      @extend .productBoxInner;
      transform: rotateY(180deg);
    }

    .productImage,
    .productDescriptionBox {
      position: absolute;
      visibility: visible;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .productImage {
      cursor: pointer;
      top: 25%;
      background: none;
      outline: none;
      border: none;
    }

    .productDescriptionBox {
      box-shadow: $box-shadow;
      color: $cookie;
      font-family: $font-title;
      border-radius: 10px;
      color: black;
      transform: rotateY(180deg);
      background: white;
      border: olive 2px solid;
      width: 100%;
      height: 100%;
      // z-index: 100;
      // z-index: -1;
      // transition: font-size 1s;
      .backArrow {
        background: $cookie;
        border-radius: 50%;
        border: none;
        position: absolute;
        top: 1vh;
        left: 1vh;
        font-size: 1.5em;
        width: 5vh;
        height: 5vh;
        color: $chocolate;
      }
      .productDescription {
        // z-index: -1;
      }
      .showNutritionButton {
        color: $chocolate;
        background: none;
        border-radius: 10px;
        border: 1px solid $cookie;
        padding: 1vh;
        &:hover {
          background-color: $cookie;
          color: white;
        }
      }
      p {
        color: $chocolate;
      }
      .productNutrition {
        font-size: 0.7em;
        // cursor: pointer;
        overflow: hidden;
        opacity: 0;
        transition: all 0.5s;
        color: $chocolate;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        width: 101%;
        border-radius: 10px;
        border: 1px solid black;
        height: 101%;
        top: 50%;
        transform: translate(0, -50%);
        z-index: -1;
        padding: 10%;
        left: 0;
        background: white;
        .productNutritionRow {
          border-bottom: 1px solid #ccc;
          :first-child {
            text-align: left;
          }
          :last-child {
            text-align: right;
            width: 30%;
          }
        }
        &__show {
          @extend .productNutrition;
          opacity: 1;
          z-index: 50;
          .backArrow {
            transition: 0.3s;
            font-size: 1em;

            width: 2vh;
            height: 2vh;
            &:active {
              font-size: 1.5em;

              color: white;
              transition: 0s;
            }
          }
        }
      }
    }
  }
  .qtyInput {
    text-align: center;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
  }
  .qtyButton {
    align-items: center;
    background-color: $cookie;
    border-radius: 50%;
    border: none;
    color: $chocolate;
    display: flex;
    font-size: 1.5em;
    height: 3vh;
    justify-content: center;
    width: 3vh;
  }
  .addToCartButton {
    position: absolute;
    bottom: -10%;
    background-color: $cookie;
    border-radius: 50%;
    width: 7.5vh;
    height: 7.5vh;
    border: none;
    color: $chocolate;
    font-size: 1.5em;
    box-shadow: $box-shadow;
  }
}
.root:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
    width: 30%;
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
    width: 30%;
  }
}

/* Media non-touch  */
@media (hover: hover) and (pointer: fine) {
  .addToCartButton :hover {
    color: white;
  }
  .qtyButton :hover {
    color: white;
  }
  .backArrow :hover {
    color: white;
  }
}

/*Media under 1199*/

@media (pointer: coarse) {
  .addToCartButton,
  .qtyButton,
  .backArrow {
    transition: 0.3s;
    &:active {
      color: white;
      transition: 0s;
    }
  }
}

/* Large Devices, Desktops */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
    width: 100%;
    .addToCartButton {
      font-size: 2em;
      bottom: -4%;
    }
  }
}

/*Medium Devices, laptops*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    width: 100%;
    .addToCartButton {
      font-size: 1.5em;
      bottom: -4%;
    }
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
    width: 100%;
    .addToCartButton {
      font-size: 1.5em;
      bottom: -5%;
      transition: 1s;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    width: 100%;
    .addToCartButton {
      font-size: 1em;
      bottom: -5%;
    }
  }
}

/* Extra Small Devices, Small Phones Landscape*/
@media only screen and (max-height: 499px) {
  .root {
    width: 100%;
    .addToCartButton {
      bottom: -2%;
      font-size: 1em;
      height: 10vh;
      width: 10vh;
    }
    .qtyInput {
      height: 10vh;
      width: 10vh;
    }
    .qtyButton {
      height: 10vh;
      width: 10vh;
    }
  }
}
