@import "../../../styles/settings.scss";

.root {
  width: 100vw;
  height: 100vh;
  font-family: $font-title;

  .slider {
    position: relative !important;
    --organic-arrow-color: #ffffff;
    --slider-height-percentage: 100%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #e2ebf0;
    --loader-bar-color: #e2ebf0;
    --loader-bar-height: 6px;
  }
  .caption {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    display: flex;
    height: 10vh;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100%;
    p {
      color: #ffffff;
      // margin-top: 3rem;
      margin-bottom: 0;
    }
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
    height: 50vh;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    height: 50vh;
  }
}
