@import "../../../styles/settings.scss";

/* ExtraExtraLarge Devices, UltraWide Desktops  */
.root {
  margin-top: 10vh;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: $font-title;
  color: $chocolate;
  h2 {
    margin-bottom: 5vh;
  }
  .productBox {
    margin: 5vh 0 5vh 0;
    position: relative;
    box-shadow: $box-shadow;
    border-radius: 20px;
    font-family: $font-title;
    color: $chocolate;
    width: 100%;
    height: 100%;
    align-items: center;
    // border: 1px solid black;
    width: 40%;
    display: flex;
    // height: 50vh;
    justify-content: center;
    // width: 50vh;
    position: relative;
    .productBoxPhoto {
      width: 50%;
      height: 60%;
      background: none;
      border: none;
      position: absolute;
      top: 10%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .clickOnMe {
        color: $white;
        left: 50%;
        position: absolute;
        stroke: 5px white;
        text-shadow: 2px 2px $chocolate;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .productBoxText {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20%;
      background-color: $cookie;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      p {
        margin-bottom: 0;
      }
    }
  }
  .productBox:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
    .productBox {
      width: 100%;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    .productBox {
      width: 100%;
    }
  }
}
