@import "../../../styles/settings.scss";

/* ExtraExtraLarge Devices, UltraWide Desktops  */
.root {
  align-items: center;
  color: $NewProducts-color;
  display: inline-flex;
  flex-wrap: wrap;
  font-family: $font-title;
  gap: 5vh;
  justify-content: center;
  margin-top: 10vh;
  width: 100%;
  h2 {
    margin-bottom: 5vh;
  }
  .productBox {
    align-items: center;
    border-radius: 20px;
    box-shadow: $box-shadow;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 5vh 0 5vh 0;
    position: relative;
    width: 40%;
    .productBoxPhoto {
      background: none;
      border: none;
      height: 60%;
      position: absolute;
      top: 10%;
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .clickOnMe {
        color: $NewProducts-clickOnMe-color;
        left: 50%;
        position: absolute;
        stroke: $NewProducts-clickOnMe-stroke;
        text-shadow: $NewProducts-clickOnMe-shadow;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .productBoxText {
      align-items: center;
      background-color: $NewProducts-productBoxText-color;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      height: 20%;
      justify-content: center;
      position: absolute;
      width: 100%;
      p {
        margin-bottom: 0;
      }
    }
  }
  .productBox:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
    .productBox {
      width: 100%;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    .productBox {
      width: 100%;
    }
  }
}
