@import "../../../styles/settings.scss";

.root {
  align-items: center;
  background-color: white;
  background: none;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  height: 5vh;
  justify-content: center;
  position: fixed;
  right: 1px;
  top: 1px;
  visibility: visible;
  width: 5vh;
  z-index: 10;
  .cartIcon {
    color: $navbar-cart-icon;
  }

  .cartIconActive {
    @extend .cartIcon;
    color: $navbar-cart-icon-active;
    cursor: pointer;
  }
  .cartProductIndicator {
    width: auto;
    flex-grow: 1;
    height: auto;
    // background-color: #418deb;
    display: flex;
    color: $chocolate;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-justify: inherit;
    // bottom: -35%;
    left: 20%;
    border-radius: 10px;
    // font-size: 1.5em;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
    background-color: $cookie;
    p {
      margin-bottom: 0;
      text-align: center;
    }
  }
}

.cart {
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
  height: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 50%;
  top: 6.5vh;
  transform: translateY(-10%);
  transition-timing-function: ease-in;
  transition: 0.4s;
  visibility: hidden;
  border-radius: 10px;
}
.cartActive {
  @extend .cart;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  z-index: 10;
}

/* Media non-touch  */
@media (hover: hover) and (pointer: fine) {
  .root {
    &:hover {
      .cartIcon {
        color: $navbar-cart-icon-active;
      }
    }
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
    height: 7.5vh;
    width: 7.5vh;
    .cartIcon {
      font-size: 1.5em;
    }
    .cart {
      width: 20vw;
      max-height: 50vh;
    }
    .cartProductIndicator {
      font-size: 1.5em;
      bottom: -35%;
    }
  }
}
/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
    height: 7.5vh;
    width: 7.5vh;
    .cartIcon {
      font-size: 1.5em;
    }
    .cart {
      width: 30vw;
      max-height: 50vh;
    }
    .cartProductIndicator {
      font-size: 1.5em;
      bottom: -35%;
    }
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .cart {
    width: 50vw;
    max-height: 30vh;
  }
  .cartProductIndicator {
    font-size: 1.5em;
    bottom: -35%;
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cart {
    width: 50vw;
    max-height: 30vh;
  }
  .cartProductIndicator {
    font-size: 1.5em;
    bottom: -50%;
  }
}

/* Small Devices, Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .cart {
    width: 50vw;
    max-height: 30vh;
  }
  .cartProductIndicator {
    font-size: 1em;
    bottom: -50%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .cart {
    width: 80vw;
    max-height: 30vh;
  }
  .cartProductIndicator {
    font-size: 1.2em;
    bottom: -60%;
    // color: blue;
  }
}

/* Extra Small Devices, Small Phones Landscape*/
@media only screen and (max-height: 499px) {
  .cart {
    width: 60vw;
    max-height: 30vh;
  }
  .cartProductIndicator {
    font-size: 1em;
    bottom: -100%;
    // color: blue;
  }
}
