@import "../../../styles/settings.scss";

.root {
  color: $contact-color;
  font-family: $font-title;
  .contactBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    min-height: 50vh;
    width: 100%;
    a {
      color: $contact-link-color;
      text-decoration: none;
    }
    .contactLink {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
      p {
        margin-bottom: 0;
        padding: 0 1vw 0 1vw;
      }
    }
  }
  .mapBox {
    height: 100%;
    width: 100%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .contactLink {
    &:hover {
      color: $contact-link-color-active;
    }
  }
}

/*Media touchable*/

@media (pointer: coarse) {
  .contactLink {
    transition: $transition;
    &:active {
      color: $contact-link-color-active;
      transition: 0s;
    }
  }
}
