@import "../../../styles/settings.scss";

.root {
  height: 100%;
  width: 100%;
  // border: 2px solid blue;
  font-family: $font-title;
  color: $chocolate;
  align-self: center;
  justify-self: center;
  .modalInner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .orderBox {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  .orderedProducts {
    overflow-x: hidden;
    height: auto;
    height: 40%;
    // border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    .orderedProductRow {
      width: 100%;
      padding: 1vh;
      border-bottom: 1px solid #ccc;
      height: auto;
      .orderColumn {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          text-align: center;
        }
        img {
          height: 5vh;
        }
      }
    }
  }
  .orderFormBox {
    flex-direction: column;
    height: 50%;
    height: auto;
    overflow-x: hidden;
    .orderForm {
      height: 100%;
      width: 80%;
      .formRow {
        p {
          margin-bottom: 0;
          text-align: justify;
          text-justify: inter-word;
        }
        .formColumn {
          align-items: center;
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0;
        }
      }
      input,
      textarea {
        font-family: $font-text;
        margin: 2vh 0 2vh 0;
        width: 100%;
        &::placeholder {
          font-family: $font-title;
          padding-left: 1em;
        }
        &:required:invalid:focus {
          background-color: #fce4e4;
          border: 1px solid #cc0033;
        }
        &:required:valid:focus {
          background-color: #ddffdd;
        }
      }

      .buttonSend {
        background-color: $cookie;
        border-radius: 10px;
        border: none;
        box-shadow: $box-shadow-small;
        color: $chocolate;
        font-family: $font-title;
        outline: none;
        transition: $transition;
        width: 20vw;
      }
    }
  }
  .orderedPriceSummary {
    align-items: flex-end;
    justify-content: center;
    height: 10%;
  }
  .homeButton {
    align-items: center;
    background-color: $cookie;
    border-radius: 10px !important;
    color: $chocolate;
    display: flex;
    justify-self: center;
    padding: 10px;
    transition: $transition;
    p {
      margin-bottom: 0;
    }
  }
}

/* Media non-touch  */
@media (hover: hover) and (pointer: fine) {
  .root .orderFormBox .orderForm .buttonSend,
  .homeButton {
    &:hover {
      color: white;
    }
  }
}

/*Media touchable*/

@media (pointer: coarse) {
  .root .orderFormBox .orderForm .buttonSend,
  .homeButton {
    transition: 0.3s;
    &:active {
      color: white;
      transition: 0s;
    }
  }
}

@media only screen and (max-width: 767px) {
  .orderedProductRow {
    width: 100%;
    padding: 1vh;
    border-bottom: 1px solid #ccc;
    height: auto;
    :nth-child(2) {
      visibility: hidden;
      opacity: 0;
    }
  }
}
