@import "../../../styles/settings.scss";

.root {
  width: 100%;
  height: 100%;
  font-family: $font-title;
  color: $chocolate;
  z-index: 5;
  .productNutrition {
    align-items: stretch;
    background: white;
    border-radius: 10px;
    display: flex;
    // display: none;
    flex-direction: column;
    font-size: 0.7em;
    height: 100%;
    justify-content: space-between;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10%;
    position: absolute;
    top: 50%;
    visibility: hidden;
    transform: translate(0, -50%);
    transition: all 0.5s;
    width: 100%;
    z-index: -1;
    .productNutritionRow {
      border-bottom: 1px solid #ccc;
      :first-child {
        text-align: left;
      }
      :last-child {
        text-align: right;
        width: 30%;
      }
    }
  }
  .productNutrition__show {
    @extend .productNutrition;
    // display: flex;
    visibility: visible;
    left: 0;
    opacity: 1;
    transition: all 0.5s;
    z-index: 5;
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
  }
}
