@import "../../../styles/settings.scss";

.root {
  color: $nutrition-color;
  font-family: $font-title;
  height: 100%;
  width: 100%;
  z-index: 5;
  .productNutrition {
    align-items: stretch;
    background: $nutrition-bg;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    height: 100%;
    justify-content: space-between;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: $transition;
    visibility: hidden;
    width: 100%;
    z-index: -1;
    .productNutritionRow {
      border-bottom: 1px solid $nutrition-border-color;
      :first-child {
        text-align: left;
      }
      :last-child {
        text-align: right;
        width: 30%;
      }
    }
  }
  .productNutrition__show {
    @extend .productNutrition;
    left: 0;
    opacity: 1;
    transition: $transition;
    visibility: visible;
    z-index: 5;
  }
}
