@import "../../../styles/settings.scss";

.root {
  align-items: center;
  background-color: $footer-bg;
  display: flex;
  height: 10vh;
  justify-content: center;
  width: 100%;
  button {
    background: none;
    border: none;
    margin: 0 5vw 0 5vw;
    :hover {
      .footerIcon {
        color: $footer-icon-color-active;
      }
    }
  }
  .footerIcons {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 20vw;
    .footerIcon {
      color: $footer-icon-color;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .footerIcons {
    width: 50vw;
    .footerIcon {
      font-size: $base-size * 1.5;
    }
  }
}
