@import "../../../styles/settings.scss";

.root {
  width: 100%;
  height: 10vh;
  background-color: #e79e48;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background: none;
    border: none;
    :hover {
      .footerIcon {
        color: white;
      }
    }
  }
  .footerIcons {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .footerIcon {
      color: $chocolate;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .footerIcons {
    width: 50vw;
    .footerIcon {
      font-size: 1em;
    }
  }
}
